# Dependencias
node_modules/
npm-debug.log*

# Variables de entorno
.env
.env.local

# Logs
logs
*.log

# Base de datos
*.db
*.sqlite

# Docker
.dockerignore

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Distribución
dist/
build/